:root {
  --basic-1: #ffffff;
  --line-bar-white: rgba(255, 255, 255, 0.3);
  --footer-white: rgba(255, 255, 255, 0.9);
  --basic-2: #000000;
  --copywrite-black: #231f20;
  --black-sorting: rgba(0, 0, 0, 0.3);
  --info-brown: #766357;
  --hover-brown: #604e43;
  --active-brown: #503e33;
  --basic-3: #81b3d2;
  --hover-blue: #669ec0;
  --active-blue: #5496bd;
  --txt-grey: #333333;
  --reiting-grey: #666666;
  --checkbox-block-grey: #6a6a6a;
  --background-grey: #888888;
  --simbol-grey: #a9a9a9;
  --slider-gray: #ababab;
  --triagle-gray: #cacaca;
  --number-grey: #eeeeee;
  --line-grey: #e5e5e5;
  --field-hover-grey: #ebebeb;
  --field-grey: #f2f2f2;
  --logo-academy-grey: #bdbbbc;
  --form-shadow: rgba(0, 1, 1, 0.15);
  --shadow-slider-grey: rgba(171, 171, 171, 0.3);
  --site-shadow: rgba(0, 1, 1, 0.2);
}

.page {
  height: 100%;
}

.no-js .appointment-form {
  visibility: visible;
  opacity: 1;
}

.container-body {
  min-height: 100%;
  width: 1200px;
  -webkit-box-shadow: 0px 5px 15px var(--site-shadow);
  box-shadow: 0px 5px 15px var(--site-shadow);
  background-color: var(--basic-1);
  position: relative;
}

/*body*/

.main-body {
  height: 100%;
  font-family: "PT Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-2);
  text-transform: uppercase;
  background-color: var(--field-grey);
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  min-width: 1200px;
}

/*ссылки*/
a {
  text-decoration: none;
  color: var(--basic-2);
}

.img {
  max-width: 100%;
}

.main-navigation ul,
.features-all,
.social,
.list-a-sorting {
  list-style-type: none;
  margin: 0;
}

/*хедер*/
/*main-navigation*/
.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-2);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 15px 72px;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(2) {
  margin-right: 20%;
}

.site-navigation:first-child,
.site-navigation:nth-child(2) {
  text-align: left;
}

.right {
  text-align: right;
}

.photo-video {
  margin-left: 17px;
}

.state-map {
  margin-left: -15px;
  margin-right: 15px;
}

.link {
  color: var(--basic-2);
}

.link:hover {
  color: var(--basic-3);
}

.link:active {
  color: var(--black-sorting);
}

.page-active {
  color: var(--info-brown);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: auto;
  background-image: url(../img/logo1.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.visibility-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.background-image-sedona {
  height: 510px;
  width: 1200px;
  background-color: var(--basic-3);
  background-image: url(../img/image-sedona.jpg), url(../img/welcome.svg),
    url(../img/shape.svg);
  position: relative;
}

.img-text {
  width: 458px;
  height: 353px;
  padding-top: 77px;
  padding-bottom: 80px;
}

.shape {
  width: 100%;
  height: 57px;
  position: absolute;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  bottom: 0;
  left: 0;
}

/*little-town*/
.little-town {
  line-height: 28px;
  padding: 40px 0 50px 0;
}

.caption {
  margin: 0;
  padding-bottom: 42px;
}

.reasons {
  margin: 0;
}

/*block 1*/
/*block 3*/
.image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--basic-3);
  width: 1200px;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.image-text--revercy {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.item-image {
  color: var(--basic-1);
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 26px 47px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.number-detals {
  font-size: 21px;
  line-height: 22px;
  font-weight: 700;
  padding: 0 50px;
  margin-bottom: 25px;
}

.number {
  font-size: 14px;
}

.prescription {
  font-size: 14px;
  line-height: 22px;
  padding-top: 15px;
  margin-top: 9px;
}

.image-town {
  background-color: var(--triagle-gray);
  width: 800px;
  height: 256px;
}

/*features block-2*/
.features-all {
  display: -ms-grid;
  display: grid;
  margin: 0;
}

.features-all-true-city {
  padding: 58px 52px 81px 50px;
  gap: 100px;
  -ms-grid-columns: 300px 100px 300px 100px 300px;
  grid-template-columns: 300px 300px 300px;
}

.feature-complex {
  position: relative;
  padding-top: 99px;
}

.feature-complex svg {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.features-features {
  font-size: 21px;
  font-weight: 700;
}

.house {
  background: url(../img/house.jpg) no-repeat 110px 2px;
}

.food {
  background: url(../img/food.jpg) no-repeat 110px 2px;
}

.gift {
  background: url(../img/gift.jpg) no-repeat 120px 1px;
}

.number-features {
  font-weight: 700;
  font-size: 21px;
}

.number-features,
.number,
.features-features {
  margin: 0;
}

.detals {
  padding-top: 28px;
  margin: 0;
}

/*bridge-devil*/

.features-all-bridge-devil {
  background-color: var(--number-grey);
  min-height: 256px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-grid-columns: 265px 136px 265px 136px 259px;
  grid-template-columns: 265px 265px 259px;
  padding: 47px 60px 54px 68px;
  gap: 136px;
  text-align: center;
}

.number-features-devil {
  margin: 0;
  padding: 0 70px;
}

.number-devil {
  margin: 0;
  padding: 25px;
}

.go-devil {
  margin: 0;
  line-height: 21px;
}

/*questi0n*/
.text-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 30px 382px 30px 382px;
}

.question {
  font-size: 30px;
}

.date-question {
  line-height: 24px;
}

.search-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  justify-items: center;
  padding: 29px 138px;
  border: none;
  display: block;
  margin: 0 317px;
}

.map {
  width: 1200px;
  height: 595px;
  background-color: var(--field-grey);
  background-image: url(../img/map.png);
  position: relative;
  overflow: hidden;
}

/*форма*/
.appointment-form {
  -webkit-box-shadow: 0px 7px 15px var(--form-shadow);
  box-shadow: 0px 7px 15px var(--form-shadow);
  position: absolute;
  width: 568px;
  padding: 55px;
  background-color: var(--basic-1);
  z-index: 2;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
}

.appointment-form-active {
  visibility: visible;
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
  opacity: 1;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.modal-error {
  -webkit-animation: shake 2s;
  animation: shake 2s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.form-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 29px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-cell label {
  font-weight: 700;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.input-calendar {
  position: relative;
}

.input-calendar input:hover,
.people input:hover {
  background-color: var(--field-hover-grey);
}

.input-calendar input:focus,
.people input:focus {
  outline: 2px solid var(--line-grey);
  background-color: transparent;
}

.input-calendar input {
  width: 346px;
  height: 38px;
  border: none;
  background-color: var(--field-grey);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 0 6px 13px;
}

.button-calendar,
.button-minus,
.button-plus {
  fill: var(--simbol-grey);
  position: absolute;
  top: 6px;
  right: 5px;
  border: none;
  background: transparent;
}

.calendar:hover {
  fill: var(--basic-2);
}

.calendar:active {
  fill: var(--basic-3);
}

.input-calendar input::-webkit-input-placeholder,
.people input::-webkit-input-placeholder {
  font-weight: 700;
  color: var(--basic-2);
  text-transform: uppercase;
}
.input-calendar input::-moz-placeholder,
.people input::-moz-placeholder {
  font-weight: 700;
  color: var(--basic-2);
  text-transform: uppercase;
}
.input-calendar input:-ms-input-placeholder,
.people input::-ms-input-placeholder {
  font-weight: 700;
  color: var(--basic-2);
  text-transform: uppercase;
}
.input-calendar input::-ms-input-placeholder,
.people input::-ms-input-placeholder {
  font-weight: 700;
  color: var(--basic-2);
  text-transform: uppercase;
}
.input-calendar input::-webkit-input-placeholder,
.people input::-webkit-input-placeholder {
  font-weight: 700;
  color: var(--basic-2);
  text-transform: uppercase;
}
.input-calendar input::-moz-placeholder,
.people input::-moz-placeholder {
  font-weight: 700;
  color: var(--basic-2);
  text-transform: uppercase;
}
.input-calendar input:-ms-input-placeholder,
.people input:-ms-input-placeholder {
  font-weight: 700;
  color: var(--basic-2);
  text-transform: uppercase;
}
.input-calendar input::-ms-input-placeholder,
.people input::-ms-input-placeholder {
  font-weight: 700;
  color: var(--basic-2);
  text-transform: uppercase;
}
.input-calendar input::placeholder,
.people input::placeholder {
  font-weight: 700;
  color: var(--basic-2);
  text-transform: uppercase;
}

.number-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-right: 53px;
}

.number-people:last-child {
  margin-right: 0;
}

.people {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 114px;
  height: 38px;
}

.people input {
  width: 114px;
  height: 38px;
  border: none;
  background-color: var(--field-grey);
  text-align: center;
  font-weight: 700;
  padding: 0;
}

.old {
  margin-left: 42px;
}

.child {
  margin-left: 24px;
}

.button-minus {
  position: absolute;
  z-index: 5;
  top: 8px;
  left: 7px;
  border: none;
  background: transparent;
}

.button-plus {
  position: absolute;
  z-index: 5;
  top: 12px;
  right: 8px;
  border: none;
  background: transparent;
}

.button-search {
  color: var(--basic-1);
  background-color: var(--basic-3);
  padding: 18px 196px;
  border: none;
  text-transform: uppercase;
  margin: 0 auto;

  font-weight: 700;
  font-size: 21px;
  margin-top: 26px;
}

.button-search:hover {
  background-color: var(--hover-blue);
}

.button-search:active {
  color: var(--line-bar-white);
  background-color: var(--active-blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*footer*/
.main-footer {
  background-color: var(--footer-white);
  color: var(--basic-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 120px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 6px 128px 9px 125px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
}

.index-footer {
  z-index: 1;
  bottom: 0;
  position: absolute;
}

/*visitsedona/tel*/
.footer-caption {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  line-height: 15px;
}

/*socnetwork*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -54px;
}

.socnetwork {
  margin-right: 6px;
}

.socnetwork:last-child,
.social:last-child {
  margin: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-3);
  border: none;
}

.social-button path {
  fill: var(--basic-1);
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:active path {
  fill: var(--line-bar-white);
}

.by {
  line-height: 26px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 74px 8px 114px;
  grid-template-columns: 74px 114px;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 10px;
  padding-top: 5px;
}

.html-academy:hover {
  fill: var(--basic-3);
}

.html-academy:active {
  fill: var(--logo-academy-grey);
}

/*hotels*/
.filters {
  background-image: url(../img/back-choice.jpg);
  background-color: var(--basic-3);
  width: 100%;
  min-height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--basic-1);
  padding: 25px 73px 31px 72px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-size: cover;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
}

.name-form {
  padding: 0;
  margin: 0;
  border: none;
  padding-right: 119px;
}

.name-form:last-child {
  padding: 0;
}

.filter legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter-option {
  cursor: pointer;
  padding-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
}

.check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-box {
  position: absolute;
  background-image: url(../img/checkbox-off.svg);
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  margin-left: -40px;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*checked*/
.check-input:checked + .check-box {
  position: absolute;
  background-image: url(../img/checkbox-on.svg);
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
}

.check-input:focus {
  position: absolute;
  margin-left: -40px;
  outline: 4px dotted var(--basic-2);
  width: 27px;
  height: 23px;
}

/*focus*/
.check-input:disabled + .check-box,
.check-input:checked:disabled + .check-box {
  fill: var(--checkbox-block-grey);
}

.price-filter {
  color: var(--basic-1);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: start;
}

.price-controls {
  font-size: 14px;
  margin-top: 13px;
  border: 2px solid var(--basic-1);
  border-radius: 2px;
  position: relative;
}

.price-controls input[class="text"] {
  background-color: transparent;
  border: none;
  color: var(--basic-1);
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px 4px;
  margin-right: -6px;
  text-transform: uppercase;
}

.min-price::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--basic-1);
  top: 5px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  left: 158px;
}

.range-controls {
  margin-top: 9px;
  padding-top: 10px;
  position: relative;
}

.range-filter {
  margin-bottom: 33px;
}

.scale {
  height: 2px;
  background: var(--line-bar-white);
  position: relative;
}

.bar {
  width: 78.5%;
  height: 2px;
  background-color: var(--basic-1);
  left: 8px;
  position: absolute;
}

.toggle {
  position: relative;
  top: -21px;
  left: 0;
  width: 3.8px;
  height: 3.8px;
  padding: 0;
  border: 8px solid var(--basic-1);
  background-color: var(--slider-gray);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--shadow-slider-grey);
  box-shadow: 0 2px 1px 0 var(--shadow-slider-grey);
  cursor: pointer;
}

.toggle-min {
  position: absolute;
  top: 0;
}

.toggle-max {
  position: absolute;
  left: 252px;
  top: 0;
}

.toggle:hover {
  width: 4.6px;
  height: 4.4px;
}

.toggle:active {
  fill: var(--basic-3);
}

.show {
  text-align: center;
  color: var(--basic-1);
  border: 2px solid var(--basic-1);
  background-color: transparent;
  padding: 8px 33px;
  margin-right: 7px;
  text-transform: uppercase;
}

.show:hover {
  color: var(--basic-2);
  background-color: var(--basic-1);
}

/*сортировка*/
.sorting {
  display: -ms-grid;
  display: grid;
  width: 1200px;
  height: 85px;
  border-bottom: 1px solid var(--line-grey);
  -ms-grid-columns: auto 30px 1fr 30px auto;
  grid-template-columns: auto 1fr auto;
  grid-gap: 30px;
}

.found-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 73px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-sorting {
  font-size: 21px;
}

.sorting-sorting {
  font-size: 12px;
  margin-left: 46px;
}

.list-a-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 50px 50px 75px;
  grid-template-columns: 50px 50px 75px;
  font-size: 12px;
  padding-right: 33px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}

.list-a-sorting li {
  margin-right: 20px;
  padding-left: 13px;
}

.active {
  color: var(--basic-3);
}

.non-active {
  color: var(--black-sorting);
  border-bottom: 1px dashed var(--basic-3);
}

.a-sorting:hover {
  color: var(--basic-3);
  border-bottom: 1px dashed var(--basic-3);
}

.a-sorting:active {
  color: var(--basic-2);
  border: none;
}

.triagles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 73px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.triagle {
  margin-right: 12px;
  fill: var(--triagle-gray);
}

.triagle-active {
  fill: var(--basic-3);
}

.triagle:hover {
  fill: var(--basic-2);
}

.triagle:active {
  fill: var(--basic-3);
}

.triagle:last-child {
  margin: 0;
}

.t-hotels {
  width: 1200px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}

.type-hotels {
  border-bottom: 1px solid var(--line-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 28px 73px 26px 73px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hotel-pictures-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-and-button {
  margin-left: 29px;
}

.name-hotel {
  margin: 0;
}

.name-hotels:hover {
  color: var(--basic-3);
}

.name-hotels:active {
  color: var(--black-sorting);
}

.detal-hotels-price-booking {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 6px;
  -ms-grid-columns: 110px 6px 142px;
  grid-template-columns: 110px 142px;
}

.detal {
  background-color: var(--basic-3);
}

.detal-price {
  margin-top: 10px;
  padding: 0;
}

.booking,
.search-hotel {
  color: var(--basic-1);
  background-color: var(--info-brown);
}

.detal,
.booking {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 16px;
  color: var(--basic-1);
}

.detal:hover {
  background-color: var(--hover-blue);
}

.detal:active {
  color: var(--line-bar-white);
  background-color: var(--active-blue);
}

.booking:hover,
.search-hotel:hover {
  background-color: var(--hover-brown);
}

.booking:active,
.search-hotel:active {
  color: var(--line-bar-white);
  background-color: var(--active-brown);
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 4px;
}

.stars {
  background-repeat: space;
  background-image: url(../img/star.svg);
  fill: var(--basic-3);
}

.star-four {
  width: 90px;
  height: 17px;
  margin-right: -3px;
  margin-top: -1px;
}

.star-three {
  width: 66px;
  height: 17px;
  margin-right: -3px;
  margin-top: -4px;
}

.star-two {
  width: 42px;
  height: 17px;
  margin-right: -2px;
  margin-top: -4px;
}

.rating {
  background-color: var(--field-grey);
  padding: 3px 12px 7px 15px;
  color: var(--reiting-grey);
  margin-bottom: 1px;
}
